### Merging data

In [88]:
# import modules

import numpy as np
import pandas as pd

In [89]:
# import zipcodes
zipcode = pd.read_csv("data/zipcode_states.csv")
zipcode.head()

   zipcode   latitude  longitude        city state     county
0      501  40.922326 -72.637078  Holtsville    NY    Suffolk
1      544  40.922326 -72.637078  Holtsville    NY    Suffolk
2      601  18.165273 -66.722583    Adjuntas    PR   Adjuntas
3      602  18.393103 -67.180953      Aguada    PR     Aguada
4      603  18.455913 -67.145780   Aguadilla    PR  Aguadilla

In [90]:
# function for data files

def imp_acsdf(num, samp ):
    dfname = "df" + num 
    print("Dataframe Name is: %s" % dfname)
    if samp == False:
        dfname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_with_ann.csv",skiprows=[1], low_memory=False)
    else:
        dfname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_with_ann.csv", nrows = 1000, skiprows=[1] )
    print (dfname.shape)
    return dfname

In [91]:
# function for meta files

def imp_acsmeta(num ):

    metaname = "meta" + num

    print("MetaData Name is: %s" % metaname)
    metaname = pd.read_csv("./data/ACS_16_5YR_DP" + num + "_metadata.csv", header=None, index_col = 0 )
    print(metaname.shape)
    return metaname

In [92]:
dict_df = {}
dict_meta={}

for i in range(4):
    numstr = "0" + str(i+2)

    key_namedf = "df" + numstr     

    dict_df[key_namedf] = imp_acsdf(num = numstr, samp = False) # change to false to import all data

    key_namemeta = "meta" + numstr    

    dict_meta[key_namemeta] = imp_acsmeta(num = numstr)
       

dict_df.keys()

Dataframe Name is: df02
(32989, 611)
MetaData Name is: meta02
(611, 1)
Dataframe Name is: df03
(33120, 551)
MetaData Name is: meta03
(551, 1)
Dataframe Name is: df04
(33120, 575)
MetaData Name is: meta04
(575, 1)
Dataframe Name is: df05
(33120, 339)
MetaData Name is: meta05
(339, 1)

dict_keys(['df02', 'df03', 'df04', 'df05'])

In [93]:
# add df and meta to dict
df02 = dict_df['df02']
df03 = dict_df['df03']
df04 = dict_df['df04']
df05 = dict_df['df05']
meta02 = dict_meta['meta02'].to_dict()[1]
meta03 = dict_meta['meta03'].to_dict()[1]
meta04 = dict_meta['meta04'].to_dict()[1]
meta05 = dict_meta['meta05'].to_dict()[1]

In [94]:
# function to extact estimates
def extract_Est(df):
    df = df[df.columns.drop(list(df.filter(regex='HC02')))]
    df = df[df.columns.drop(list(df.filter(regex='HC03')))]
    df = df[df.columns.drop(list(df.filter(regex='HC04')))]
    return df

In [95]:
# Extract only the estimates in df which all start with 'HCO1'
df02 = extract_Est(df02)
df03 = extract_Est(df03)
df04 = extract_Est(df04)
df05 = extract_Est(df05)

In [96]:
# Function to extract meaningful categories from variable names
def extract_catdf(df, dname, dno):
    df = pd.DataFrame.from_dict(df,  orient='index')
    df = df.rename_axis('v').reset_index().rename(columns={0:'detail'})
    df =df.iloc[3:] 
    df['type'] = df.detail.str.split(';').str[0]
    df['cat0'] = dname 
    df['cat1'] = df.detail.str.split(';').str[1].str.split('-',1).str[0].str.strip()
    df['cat2'] = df.detail.str.split(';').str[1].str.split('-',1).str[1].str.strip()
    df['vname'] = dno + df.v
    
    return df

In [97]:
# name categories extracted from variable names
m02 = extract_catdf(meta02, "Social", "02")
m03 = extract_catdf(meta03, "Economic","03")
m04 = extract_catdf(meta04, "Housing","04")
m05 = extract_catdf(meta05 , "Demographic","05")

In [98]:
# concatenate meta categories
meta = pd.concat([m02, m03, m04, m05], ignore_index=True)

In [99]:
print(meta.type.unique())
print(meta.cat0.unique())
print(meta.cat1.unique())
print(meta.cat2.unique())
print(meta.cat3.unique())

['Estimate' 'Margin of Error' 'Percent' 'Percent Margin of Error']
['Social' 'Economic' 'Housing' 'Demographic']
['HOUSEHOLDS BY TYPE' 'RELATIONSHIP' 'MARITAL STATUS' 'FERTILITY'
 'GRANDPARENTS' 'SCHOOL ENROLLMENT' 'EDUCATIONAL ATTAINMENT'
 'VETERAN STATUS'
 'DISABILITY STATUS OF THE CIVILIAN NONINSTITUTIONALIZED POPULATION'
 'RESIDENCE 1 YEAR AGO' 'PLACE OF BIRTH' 'U.S. CITIZENSHIP STATUS'
 'YEAR OF ENTRY' 'WORLD REGION OF BIRTH OF FOREIGN BORN'
 'LANGUAGE SPOKEN AT HOME' 'ANCESTRY' 'COMPUTERS AND INTERNET USE'
 'EMPLOYMENT STATUS' 'COMMUTING TO WORK' 'OCCUPATION' 'INDUSTRY'
 'CLASS OF WORKER' 'INCOME AND BENEFITS (IN 2016 INFLATION'
 'HEALTH INSURANCE COVERAGE'
 'PERCENTAGE OF FAMILIES AND PEOPLE WHOSE INCOME IN THE PAST 12 MONTHS IS BELOW THE POVERTY LEVEL'
 'HOUSING OCCUPANCY' 'UNITS IN STRUCTURE' 'YEAR STRUCTURE BUILT' 'ROOMS'
 'BEDROOMS' 'HOUSING TENURE' 'YEAR HOUSEHOLDER MOVED INTO UNIT'
 'VEHICLES AVAILABLE' 'HOUSE HEATING FUEL' 'SELECTED CHARACTERISTICS'
 'OCCUPANTS PER ROOM' 'VALUE' 'MORTGAGE STATUS'
 'SELECTED MONTHLY OWNER COSTS (SMOC)'
 'SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME (SMOCAPI)'
 'GROSS RENT' 'GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME (GRAPI)'
 'SEX AND AGE' 'RACE' 'HISPANIC OR LATINO AND RACE'
 'CITIZEN, VOTING AGE POPULATION']
['Total households' 'Total households - Family households (families)'
 'Total households - Family households (families) - With own children of the householder under 18 years'
 'Total households - Family households (families) - Married-couple family'
 'Total households - Family households (families) - Married-couple family - With own children of the householder under 18 years'
 'Total households - Family households (families) - Male householder, no wife present, family'
 'Total households - Family households (families) - Male householder, no wife present, family - With own children of the householder under 18 years'
 'Total households - Family households (families) - Female householder, no husband present, family'
 'Total households - Family households (families) - Female householder, no husband present, family - With own children of the householder under 18 years'
 'Total households - Nonfamily households'
 'Total households - Nonfamily households - Householder living alone'
 'Total households - Nonfamily households - Householder living alone - 65 years and over'
 'Households with one or more people under 18 years'
 'Households with one or more people 65 years and over'
 'Average household size' 'Average family size' 'Population in households'
 'Population in households - Householder'
 'Population in households - Spouse' 'Population in households - Child'
 'Population in households - Other relatives'
 'Population in households - Nonrelatives'
 'Population in households - Nonrelatives - Unmarried partner'
 'Males 15 years and over' 'Males 15 years and over - Never married'
 'Males 15 years and over - Now married, except separated'
 'Males 15 years and over - Separated' 'Males 15 years and over - Widowed'
 'Males 15 years and over - Divorced' 'Females 15 years and over'
 'Females 15 years and over - Never married'
 'Females 15 years and over - Now married, except separated'
 'Females 15 years and over - Separated'
 'Females 15 years and over - Widowed'
 'Females 15 years and over - Divorced'
 'Number of women 15 to 50 years old who had a birth in the past 12 months'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Unmarried women (widowed, divorced, and never married)'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Unmarried women (widowed, divorced, and never married) - Per 1,000 unmarried women'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 15 to 50 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 15 to 19 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 20 to 34 years old'
 'Number of women 15 to 50 years old who had a birth in the past 12 months - Per 1,000 women 35 to 50 years old'
 'Number of grandparents living with own grandchildren under 18 years'
 'Number of grandparents living with own grandchildren under 18 years - Grandparents responsible for grandchildren'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - Less than 1 year'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 1 or 2 years'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 3 or 4 years'
 'Number of grandparents living with own grandchildren under 18 years - Years responsible for grandchildren - 5 or more years'
 'Number of grandparents responsible for own grandchildren under 18 years'
 'Number of grandparents responsible for own grandchildren under 18 years - Who are female'
 'Number of grandparents responsible for own grandchildren under 18 years - Who are married'
 'Population 3 years and over enrolled in school'
 'Population 3 years and over enrolled in school - Nursery school, preschool'
 'Population 3 years and over enrolled in school - Kindergarten'
 'Population 3 years and over enrolled in school - Elementary school (grades 1-8)'
 'Population 3 years and over enrolled in school - High school (grades 9-12)'
 'Population 3 years and over enrolled in school - College or graduate school'
 'Population 25 years and over'
 'Population 25 years and over - Less than 9th grade'
 'Population 25 years and over - 9th to 12th grade, no diploma'
 'Population 25 years and over - High school graduate (includes equivalency)'
 'Population 25 years and over - Some college, no degree'
 "Population 25 years and over - Associate's degree"
 "Population 25 years and over - Bachelor's degree"
 'Population 25 years and over - Graduate or professional degree'
 'Percent high school graduate or higher'
 "Percent bachelor's degree or higher"
 'Civilian population 18 years and over'
 'Civilian population 18 years and over - Civilian veterans'
 'Total Civilian Noninstitutionalized Population'
 'Total Civilian Noninstitutionalized Population - With a disability'
 'Under 18 years' 'Under 18 years - With a disability' '18 to 64 years'
 '18 to 64 years - With a disability' '65 years and over'
 '65 years and over - With a disability' 'Population 1 year and over'
 'Population 1 year and over - Same house'
 'Population 1 year and over - Different house in the U.S.'
 'Population 1 year and over - Different house in the U.S. - Same county'
 'Population 1 year and over - Different house in the U.S. - Different county'
 'Population 1 year and over - Different house in the U.S. - Different county - Same state'
 'Population 1 year and over - Different house in the U.S. - Different county - Different state'
 'Population 1 year and over - Abroad' 'Total population'
 'Total population - Native'
 'Total population - Native - Born in United States'
 'Total population - Native - Born in United States - State of residence'
 'Total population - Native - Born in United States - Different state'
 'Total population - Native - Born in Puerto Rico, U.S. Island areas, or born abroad to American parent(s)'
 'Total population - Foreign born' 'Foreign-born population'
 'Foreign-born population - Naturalized U.S. citizen'
 'Foreign-born population - Not a U.S. citizen'
 'Population born outside the United States' 'Native'
 'Native - Entered 2010 or later' 'Native - Entered before 2010'
 'Foreign born' 'Foreign born - Entered 2010 or later'
 'Foreign born - Entered before 2010'
 'Foreign-born population, excluding population born at sea'
 'Foreign-born population, excluding population born at sea - Europe'
 'Foreign-born population, excluding population born at sea - Asia'
 'Foreign-born population, excluding population born at sea - Africa'
 'Foreign-born population, excluding population born at sea - Oceania'
 'Foreign-born population, excluding population born at sea - Latin America'
 'Foreign-born population, excluding population born at sea - Northern America'
 'Population 5 years and over'
 'Population 5 years and over - English only'
 'Population 5 years and over - Language other than English'
 'Population 5 years and over - Language other than English - Speak English less than "very well"'
 'Population 5 years and over - Spanish'
 'Population 5 years and over - Spanish - Speak English less than "very well"'
 'Population 5 years and over - Other Indo-European languages'
 'Population 5 years and over - Other Indo-European languages - Speak English less than "very well"'
 'Population 5 years and over - Asian and Pacific Islander languages'
 'Population 5 years and over - Asian and Pacific Islander languages - Speak English less than "very well"'
 'Population 5 years and over - Other languages'
 'Population 5 years and over - Other languages - Speak English less than "very well"'
 'Total population - American' 'Total population - Arab'
 'Total population - Czech' 'Total population - Danish'
 'Total population - Dutch' 'Total population - English'
 'Total population - French (except Basque)'
 'Total population - French Canadian' 'Total population - German'
 'Total population - Greek' 'Total population - Hungarian'
 'Total population - Irish' 'Total population - Italian'
 'Total population - Lithuanian' 'Total population - Norwegian'
 'Total population - Polish' 'Total population - Portuguese'
 'Total population - Russian' 'Total population - Scotch-Irish'
 'Total population - Scottish' 'Total population - Slovak'
 'Total population - Subsaharan African' 'Total population - Swedish'
 'Total population - Swiss' 'Total population - Ukrainian'
 'Total population - Welsh'
 'Total population - West Indian (excluding Hispanic origin groups)'
 'Total households - With a computer'
 'Total households - With a broadband Internet subscription'
 'Population 16 years and over'
 'Population 16 years and over - In labor force'
 'Population 16 years and over - In labor force - Civilian labor force'
 'Population 16 years and over - In labor force - Civilian labor force - Employed'
 'Population 16 years and over - In labor force - Civilian labor force - Unemployed'
 'Population 16 years and over - In labor force - Armed Forces'
 'Population 16 years and over - Not in labor force'
 'Civilian labor force' 'Civilian labor force - Unemployment Rate'
 'Females 16 years and over' 'Females 16 years and over - In labor force'
 'Females 16 years and over - In labor force - Civilian labor force'
 'Females 16 years and over - In labor force - Civilian labor force - Employed'
 'Own children of the householder under 6 years'
 'Own children of the householder under 6 years - All parents in family in labor force'
 'Own children of the householder 6 to 17 years'
 'Own children of the householder 6 to 17 years - All parents in family in labor force'
 'Workers 16 years and over'
 'Workers 16 years and over - Car, truck, or van -- drove alone'
 'Workers 16 years and over - Car, truck, or van -- carpooled'
 'Workers 16 years and over - Public transportation (excluding taxicab)'
 'Workers 16 years and over - Walked'
 'Workers 16 years and over - Other means'
 'Workers 16 years and over - Worked at home'
 'Mean travel time to work (minutes)'
 'Civilian employed population 16 years and over'
 'Civilian employed population 16 years and over - Management, business, science, and arts occupations'
 'Civilian employed population 16 years and over - Service occupations'
 'Civilian employed population 16 years and over - Sales and office occupations'
 'Civilian employed population 16 years and over - Natural resources, construction, and maintenance occupations'
 'Civilian employed population 16 years and over - Production, transportation, and material moving occupations'
 'Civilian employed population 16 years and over - Agriculture, forestry, fishing and hunting, and mining'
 'Civilian employed population 16 years and over - Construction'
 'Civilian employed population 16 years and over - Manufacturing'
 'Civilian employed population 16 years and over - Wholesale trade'
 'Civilian employed population 16 years and over - Retail trade'
 'Civilian employed population 16 years and over - Transportation and warehousing, and utilities'
 'Civilian employed population 16 years and over - Information'
 'Civilian employed population 16 years and over - Finance and insurance, and real estate and rental and leasing'
 'Civilian employed population 16 years and over - Professional, scientific, and management, and administrative and waste management services'
 'Civilian employed population 16 years and over - Educational services, and health care and social assistance'
 'Civilian employed population 16 years and over - Arts, entertainment, and recreation, and accommodation and food services'
 'Civilian employed population 16 years and over - Other services, except public administration'
 'Civilian employed population 16 years and over - Public administration'
 'Civilian employed population 16 years and over - Private wage and salary workers'
 'Civilian employed population 16 years and over - Government workers'
 'Civilian employed population 16 years and over - Self-employed in own not incorporated business workers'
 'Civilian employed population 16 years and over - Unpaid family workers'
 'ADJUSTED DOLLARS) - Total households'
 'ADJUSTED DOLLARS) - Total households - Less than $10,000'
 'ADJUSTED DOLLARS) - Total households - $10,000 to $14,999'
 'ADJUSTED DOLLARS) - Total households - $15,000 to $24,999'
 'ADJUSTED DOLLARS) - Total households - $25,000 to $34,999'
 'ADJUSTED DOLLARS) - Total households - $35,000 to $49,999'
 'ADJUSTED DOLLARS) - Total households - $50,000 to $74,999'
 'ADJUSTED DOLLARS) - Total households - $75,000 to $99,999'
 'ADJUSTED DOLLARS) - Total households - $100,000 to $149,999'
 'ADJUSTED DOLLARS) - Total households - $150,000 to $199,999'
 'ADJUSTED DOLLARS) - Total households - $200,000 or more'
 'ADJUSTED DOLLARS) - Total households - Median household income (dollars)'
 'ADJUSTED DOLLARS) - Total households - Mean household income (dollars)'
 'ADJUSTED DOLLARS) - With earnings'
 'ADJUSTED DOLLARS) - With earnings - Mean earnings (dollars)'
 'ADJUSTED DOLLARS) - With Social Security'
 'ADJUSTED DOLLARS) - With Social Security - Mean Social Security income (dollars)'
 'ADJUSTED DOLLARS) - With retirement income'
 'ADJUSTED DOLLARS) - With retirement income - Mean retirement income (dollars)'
 'ADJUSTED DOLLARS) - With Supplemental Security Income'
 'ADJUSTED DOLLARS) - With Supplemental Security Income - Mean Supplemental Security Income (dollars)'
 'ADJUSTED DOLLARS) - With cash public assistance income'
 'ADJUSTED DOLLARS) - With cash public assistance income - Mean cash public assistance income (dollars)'
 'ADJUSTED DOLLARS) - With Food Stamp/SNAP benefits in the past 12 months'
 'ADJUSTED DOLLARS) - Families'
 'ADJUSTED DOLLARS) - Families - Less than $10,000'
 'ADJUSTED DOLLARS) - Families - $10,000 to $14,999'
 'ADJUSTED DOLLARS) - Families - $15,000 to $24,999'
 'ADJUSTED DOLLARS) - Families - $25,000 to $34,999'
 'ADJUSTED DOLLARS) - Families - $35,000 to $49,999'
 'ADJUSTED DOLLARS) - Families - $50,000 to $74,999'
 'ADJUSTED DOLLARS) - Families - $75,000 to $99,999'
 'ADJUSTED DOLLARS) - Families - $100,000 to $149,999'
 'ADJUSTED DOLLARS) - Families - $150,000 to $199,999'
 'ADJUSTED DOLLARS) - Families - $200,000 or more'
 'ADJUSTED DOLLARS) - Families - Median family income (dollars)'
 'ADJUSTED DOLLARS) - Families - Mean family income (dollars)'
 'ADJUSTED DOLLARS) - Per capita income (dollars)'
 'ADJUSTED DOLLARS) - Nonfamily households'
 'ADJUSTED DOLLARS) - Nonfamily households - Median nonfamily income (dollars)'
 'ADJUSTED DOLLARS) - Nonfamily households - Mean nonfamily income (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for workers (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for male full-time, year-round workers (dollars)'
 'ADJUSTED DOLLARS) - Median earnings for female full-time, year-round workers (dollars)'
 'Civilian noninstitutionalized population'
 'Civilian noninstitutionalized population - With health insurance coverage'
 'Civilian noninstitutionalized population - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population - No health insurance coverage'
 'Civilian noninstitutionalized population under 18 years'
 'Civilian noninstitutionalized population under 18 years - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Employed: - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed:'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - In labor force: - Unemployed: - No health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force:'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage - With private health insurance'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - With health insurance coverage - With public coverage'
 'Civilian noninstitutionalized population 18 to 64 years - Not in labor force: - No health insurance coverage'
 'All families'
 'All families - With related children of the householder under 18 years'
 'All families - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'Married couple families'
 'Married couple families - With related children of the householder under 18 years'
 'Married couple families - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'Families with female householder, no husband present'
 'Families with female householder, no husband present - With related children of the householder under 18 years'
 'Families with female householder, no husband present - With related children of the householder under 18 years - With related children of the householder under 5 years only'
 'All people' 'All people - Under 18 years'
 'All people - Under 18 years - Related children of the householder under 18 years'
 'All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder under 5 years'
 'All people - Under 18 years - Related children of the householder under 18 years - Related children of the householder 5 to 17 years'

AttributeError: 'DataFrame' object has no attribute 'cat3'

In [ ]:
meta = meta[meta.type == 'Estimate']

In [ ]:
def rename_cols(df, num):
    cols = df.columns[~df.columns.str.contains('GEO')]
    df.rename(columns = dict(zip(cols, num + cols )), inplace=True)
    return df

In [ ]:
df02 = rename_cols(df02,'02')
df03 = rename_cols(df03,'03')
df04 = rename_cols(df04,'04')
df05 = rename_cols(df05,'05')

In [ ]:
# merge data files with zipcodes
print(zipcode.shape)
df = pd.merge(left=zipcode, right=df02, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df03, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df04, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)
df = pd.merge(left=df, right=df05, right_on='GEO.id2', left_on='zipcode', how = 'left')
print(df.shape)

In [ ]:
df.head()

In [ ]:
meta.head()

In [ ]:
# save df and meta to csv
df.to_csv("./data/df.csv")
meta.to_csv("./data/meta.csv")

### Cleaning data

In [52]:
# function to group data
def group_data(df, geo = 'country'):
    if geo == 'country':
        df
    elif geo == 'state':
        df = df.groupby("state").sum()
    elif geo == 'county':
        df = df.groupby(["state", "county"]).sum()
    elif geo == 'city':
        df = df.groupby(["state", "county", "city"]).sum()
    return df

In [53]:
grouped_data = group_data(df, geo = 'city')
grouped_data.head()

                                 zipcode   latitude   longitude  GEO.id2_x  \
state county         city
AK    Aleutians East Akutan        99553  55.430594 -162.558130    99553.0
                     Cold Bay      99571  55.650875 -160.654522    99571.0
                     False Pass    99583  55.430594 -162.558130    99583.0
                     King Cove     99612  55.430594 -162.558130    99612.0
                     Sand Point    99661  55.350356 -160.485506    99661.0

                                 02HC01_VC03  02HC02_VC03  02HC03_VC03  \
state county         city
AK    Aleutians East Akutan             54.0         14.0         54.0
                     Cold Bay           52.0         18.0         52.0
                     False Pass         31.0         11.0         31.0
                     King Cove         246.0         47.0        246.0
                     Sand Point        405.0         78.0        405.0

                                 02HC01_VC04  02HC02_VC04  02HC01_VC05  \
state county         city
AK    Aleutians East Akutan             27.0         12.0          8.0
                     Cold Bay           25.0         14.0          4.0
                     False Pass         15.0          7.0          6.0
                     King Cove         169.0         33.0         77.0
                     Sand Point        263.0         56.0        140.0

                                     ...       05HC02_VC102  05HC01_VC104  \
state county         city            ...
AK    Aleutians East Akutan          ...               17.0          62.0
                     Cold Bay        ...                5.0         106.0
                     False Pass      ...                9.0          47.0
                     King Cove       ...               24.0         295.0
                     Sand Point      ...               30.0         472.0

                                 05HC02_VC104  05HC01_VC108  05HC02_VC108  \
state county         city
AK    Aleutians East Akutan              14.0         367.0          97.0
                     Cold Bay            18.0         102.0          26.0
                     False Pass          10.0          44.0          15.0
                     King Cove           47.0         671.0          90.0
                     Sand Point          80.0         782.0         127.0

                                 05HC03_VC108  05HC01_VC109  05HC02_VC109  \
state county         city
AK    Aleutians East Akutan             367.0         260.0          79.0
                     Cold Bay           102.0          56.0          18.0
                     False Pass          44.0          28.0          11.0
                     King Cove          671.0         439.0          82.0
                     Sand Point         782.0         491.0          88.0

                                 05HC01_VC110  05HC02_VC110
state county         city
AK    Aleutians East Akutan             107.0          40.0
                     Cold Bay            46.0          11.0
                     False Pass          16.0           7.0
                     King Cove          232.0          31.0
                     Sand Point         291.0          50.0

[5 rows x 957 columns]

In [71]:
meta['level1'] = meta.cat2.str.split('-',1).str[0].str.strip()
meta['level2'] = meta.cat2.str.split('-',1).str[1].str.strip()
meta['level3'] = meta.level2.str.split('-',1).str[1].str.strip()

In [74]:
meta.head()

,v,detail,type,cat0,cat1,cat2,vname,level1,level2,level3
0,HC01_VC03,Estimate; HOUSEHOLDS BY TYPE - Total households,Estimate,Social,HOUSEHOLDS BY TYPE,Total households,02HC01_VC03,Total households,NaN,NaN
4,HC01_VC04,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families),02HC01_VC04,Total households,Family households (families),NaN
8,HC01_VC05,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC05,Total households,Family households (families) - With own childr...,With own children of the householder under 18 ...
12,HC01_VC06,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC06,Total households,Family households (families) - Married-couple ...,Married-couple family
16,HC01_VC07,Estimate; HOUSEHOLDS BY TYPE - Total household...,Estimate,Social,HOUSEHOLDS BY TYPE,Total households - Family households (families...,02HC01_VC07,Total households,Family households (families) - Married-couple ...,Married-couple family - With own children of t...

In [73]:
df.describe()

,zipcode,latitude,longitude,GEO.id2_x,02HC01_VC03,02HC02_VC03,02HC03_VC03,02HC01_VC04,02HC02_VC04,02HC01_VC05,...,05HC02_VC102,05HC01_VC104,05HC02_VC104,05HC01_VC108,05HC02_VC108,05HC03_VC108,05HC01_VC109,05HC02_VC109,05HC01_VC110,05HC02_VC110
count,42741.000000,42049.000000,42049.000000,32734.000000,32734.000000,32734.000000,32734.000000,32734.000000,32734.000000,32734.000000,...,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000,32865.000000
mean,49392.985775,38.499219,-90.807869,49774.551781,3547.313588,160.101332,3547.313588,2335.381744,149.475683,1008.670984,...,86.577605,4072.401187,156.804229,6820.130990,340.073330,6820.130990,3299.889426,224.539936,3520.241564,214.852609
std,28131.721200,5.414030,16.657754,27423.816406,5144.095934,132.039439,5144.095934,3391.483007,130.604931,1588.905675,...,114.270498,5709.727647,120.273513,9677.109282,307.895094,9677.109282,4640.711192,212.265837,5057.967833,204.248947
min,501.000000,-7.209975,-176.787412,1001.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,...,2.000000,0.000000,2.000000,0.000000,2.000000,0.000000,0.000000,2.000000,0.000000,2.000000
25%,25541.000000,35.035273,-97.250378,27011.250000,268.000000,56.000000,268.000000,182.000000,48.000000,61.000000,...,11.000000,362.000000,62.000000,543.000000,112.000000,543.000000,273.000000,66.000000,266.000000,63.000000
50%,48613.000000,39.117823,-87.853069,49813.000000,1034.000000,117.000000,1034.000000,709.500000,103.000000,262.000000,...,33.000000,1319.000000,123.000000,2100.000000,231.000000,2100.000000,1041.000000,146.000000,1048.000000,139.000000
75%,72948.000000,41.845717,-80.064915,72083.750000,4819.750000,240.000000,4819.750000,3182.000000,223.000000,1286.000000,...,123.000000,5658.000000,227.000000,9481.000000,483.000000,9481.000000,4618.000000,323.000000,4863.000000,308.000000
max,99950.000000,70.494693,166.410291,99929.000000,42783.000000,1042.000000,42783.000000,27649.000000,1048.000000,16999.000000,...,1480.000000,48196.000000,974.000000,78545.000000,2254.000000,78545.000000,35405.000000,1857.000000,43140.000000,1652.000000

In [78]:
df.select_dtypes(include=['object']).columns

Index(['city', 'state', 'county', 'GEO.id_x', 'GEO.display-label_x',
       '02HC04_VC03', '02HC03_VC04', '02HC04_VC04', '02HC03_VC05',
       '02HC04_VC05',
       ...
       '05HC04_VC101', '05HC03_VC102', '05HC04_VC102', '05HC03_VC104',
       '05HC04_VC104', '05HC04_VC108', '05HC03_VC109', '05HC04_VC109',
       '05HC03_VC110', '05HC04_VC110'],
      dtype='object', length=1121)

In [81]:
columns = ['02HC01_VC21', '02HC01_VC22', '02HC01_VC52', '02HC01_VC53',
       '02HC01_VC54', '02HC01_VC55', '02HC01_VC56', '02HC01_VC57',
       '02HC01_VC58', '02HC01_VC95', '02HC01_VC96', '02HC01_VC216',
       '02HC01_VC217', '02HC01_VC218', '03HC01_VC12', '03HC01_VC36',
       '03HC01_VC85', '03HC01_VC86', '03HC01_VC90', '03HC01_VC92',
       '03HC01_VC94', '03HC01_VC98', '03HC01_VC100', '03HC01_VC114',
       '03HC01_VC115', '03HC01_VC118', '03HC01_VC121', '03HC01_VC122',
       '03HC01_VC124', '03HC01_VC125', '03HC01_VC126', '03HC01_VC161',
       '03HC01_VC162', '03HC01_VC163', '03HC01_VC164', '03HC01_VC165',
       '03HC01_VC166', '03HC01_VC167', '03HC01_VC168', '03HC01_VC169',
       '03HC01_VC171', '03HC01_VC172', '03HC01_VC173', '03HC01_VC174',
       '03HC01_VC175', '03HC01_VC176', '03HC01_VC177', '03HC01_VC178',
       '03HC01_VC179', '03HC01_VC180', '04HC01_VC08', '04HC01_VC09',
       '04HC01_VC50', '04HC01_VC69', '04HC01_VC70', '04HC01_VC106',
       '04HC01_VC108', '04HC01_VC128', '04HC01_VC146', '04HC01_VC155',
       '04HC01_VC191', '05HC01_VC23']

In [82]:
df[columns] = df[columns].apply(pd.to_numeric, errors='coerce')

In [83]:
# see column types
df.dtypes

zipcode                  int64
latitude               float64
longitude              float64
city                    object
state                   object
county                  object
GEO.id_x                object
GEO.id2_x              float64
GEO.display-label_x     object
02HC01_VC03            float64
02HC02_VC03            float64
02HC03_VC03            float64
02HC04_VC03             object
02HC01_VC04            float64
02HC02_VC04            float64
02HC03_VC04             object
02HC04_VC04             object
02HC01_VC05            float64
02HC02_VC05            float64
02HC03_VC05             object
02HC04_VC05             object
02HC01_VC06            float64
02HC02_VC06            float64
02HC03_VC06             object
02HC04_VC06             object
02HC01_VC07            float64
02HC02_VC07            float64
02HC03_VC07             object
02HC04_VC07             object
02HC01_VC08            float64
                        ...
05HC03_VC99             object
05HC04_VC99             object
05HC01_VC100           float64
05HC02_VC100           float64
05HC03_VC100            object
05HC04_VC100            object
05HC01_VC101           float64
05HC02_VC101           float64
05HC03_VC101            object
05HC04_VC101            object
05HC01_VC102           float64
05HC02_VC102           float64
05HC03_VC102            object
05HC04_VC102            object
05HC01_VC104           float64
05HC02_VC104           float64
05HC03_VC104            object
05HC04_VC104            object
05HC01_VC108           float64
05HC02_VC108           float64
05HC03_VC108           float64
05HC04_VC108            object
05HC01_VC109           float64
05HC02_VC109           float64
05HC03_VC109            object
05HC04_VC109            object
05HC01_VC110           float64
05HC02_VC110           float64
05HC03_VC110            object
05HC04_VC110            object
Length: 2078, dtype: object

In [84]:
df.select_dtypes(include=['object']).columns

Index(['city', 'state', 'county', 'GEO.id_x', 'GEO.display-label_x',
       '02HC04_VC03', '02HC03_VC04', '02HC04_VC04', '02HC03_VC05',
       '02HC04_VC05',
       ...
       '05HC04_VC101', '05HC03_VC102', '05HC04_VC102', '05HC03_VC104',
       '05HC04_VC104', '05HC04_VC108', '05HC03_VC109', '05HC04_VC109',
       '05HC03_VC110', '05HC04_VC110'],
      dtype='object', length=1059)

In [85]:
# get info on data
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 42741 entries, 0 to 42740
Columns: 2078 entries, zipcode to 05HC04_VC110
dtypes: float64(1018), int64(1), object(1059)
memory usage: 677.9+ MB
None

In [100]:
# # DataFrame method to check for missing values in a column
# # The .all() method returns True if all values are True
# # if using it on a DataFrame, you need to chain another .all() 
# # method so that you return only one True or False value.
# assert pd.notnull(df['GEO.id_x']).all().all()
# assert pd.notnull(df['HC01_VC150']).all().all()
# assert (df.HC01_VC150 >=0).all().all()